<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!<![endif]-->
<html>

<%- include('layouts/header'); -%>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <%- include('layouts/navbar'); -%>

    <section id="main">

        <form action="cluster-report" method="POST" enctype="multipart/form-data">
            <legend>Cluster Reports</legend>
            <div class="form-group">
                <label for="designation">Designation</label>
                <select class="form-control form-control-sm" name="designation" id="designation">
                    <option>Select</option>
                    <option value="mr">Mr</option>
                    <option value="mrs">Mrs</option>
                    <option value="miss">Miss</option>
                    <option value="dr">Doctor</option>
                    <option value="pastor">Pastor</option>
                    <option value="professor">Professor</option>

                </select>
            </div>
            <div class="form-group">
                <label for="officerName">Cluster Reporting Officer's name</label>
                <input class="form-control" name="officerName" id="officerName" required>
            </div>
            <div class="form-group">
                <label for="officerPhone">Officer's Phone Number</label>
                <input class="form-control" type="text" name="officerPhone" id="officerPhone"
                    placeholder="+2348100000001 or 08100000001" required>
            </div>
            <div class="form-group">
                <label for="officerEmail">Officer's Email </label>
                <input class="form-control" type="text" name="officerEmail" id="officerEmail"
                    placeholder="name@example.com" required>
            </div>
            <div class="form-group">
                <label for="officerLocation">Officer's Location</label>
                <input class="form-control" type="text" name="officerLocation" id="officerLocation" required>
            </div>
            <div class="form-group">
                <label for="participantsPhones">Phone Numbers of Participants present in an Excel sheet</label>
                <input type="file" class="form-control" enctype="multipart/form-data" name="participantsPhones"
                    id="participantsPhones" accept=".doc,.docx,.xls,application/msword,application/msexcel">
            </div>
            <div class="form-group">
                <label for="participantsEmails">Email addresses of participants present in an Excel sheet</label>
                <input type="file" class="form-control" enctype="multipart/form-data" name="participantsEmails"
                    id="participantsEmails" accept=".doc,.docx,.xls,application/msword,application/msexcel">
            </div>
            <div class="form-group">
                <label for="participantsWhatsApp">WhatsApp Contacts of participants present in an Excel sheet</label>
                <input type="file" class="form-control" enctype="multipart/form-data" name="participantsWhatsApp"
                    id="participantsWhatsApp" accept=".doc,.docx,.xls,application/msword,application/msexcel">
            </div>
            <div class="form-group">
                <label for="morningSessionStat">Morning Session statistics in an Excel sheet</label>
                <input type="file" class="form-control" enctype="multipart/form-data" name="morningSessionStat"
                    id="morningSessionStat" accept=".doc,.docx,.xls,application/msword,application/msexcel">
            </div>
            <div class="form-group">
                <label for="afternoonSessionStat">Afternoon Session statistics in an Excel sheet</label>
                <input type="file" class="form-control" enctype="multipart/form-data" name="afternoonSessionStat"
                    id="afternoonSessionStat" accept=".doc,.docx,.xls,application/msword,application/msexcel">
            </div>
            <div class="form-group">
                <label for="clusterLocationPoint">Cluster Location Point</label>
                <select name="clusterLocationPoint" id="clusterLocationPoint" class="form-control"
                    onchange="showfield(this.options[this.selectedIndex].value)" required>
                    <option value="">Please Select Cluster Location Point</option>
                    <option value="island">Lagos Island</option>
                    <option value="ikorodu">Ikorodu</option>
                    <option value="ikeja">Ikeja</option>
                    <option value="iyana-ipaja">Iyana-Ipaja</option>
                    <option value="other">Other Locations, Please Specify</option>
                </select>
            </div>
            <div id="div1"></div><br>
            <div class="form-group">
                <label for="participantsTestimonies">Testimonies from participants in an Excel sheet</label>
                <input type="file" class="form-control" enctype="multipart/form-data" name="participantsTestimonies"
                    id="participantsTestimonies" accept=".doc,.docx,.xls,application/msword,application/msexcel">
            </div>
            <div class="form-group">
                <label for="totalNumberOfParticipants">Total number of participants present</label>
                <input class="form-control" type="text" name="totalNumberOfParticipants" id="totalNumberOfParticipants"
                    required>
                Number of corpers: <input class="form-control form-control-sm" type="text"
                    name="numberOfCorperParticipants" id="numberOfCorperParticipants" required>
                Number of undergraduates: <input class="form-control form-control-sm" type="text"
                    name="numberOfUndergraduateParticipants" id="numberOfUndergraduateParticipants" required>
                Number of postgraduates: <input class="form-control form-control-sm" type="text"
                    name="numberOfPostgraduateParticipants" id="numberOfPostgraduateParticipants" required>
                Number of staff: <input class="form-control form-control-sm" type="text"
                    name="numberOfStaffParticipants" id="numberOfStaffParticipants" required>

            </div>
            <div class="form-group">
                <label for="challenges">Challenges Experienced</label>
                <textarea cols="5" rows="5" name="challenges" id="challenges" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label for="suggestions">Suggested solutions for subsequent programmes</label>
                <textarea cols="5" rows="5" name="suggestions" id="suggestions" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="decisionsForChrist">Decisions for Christ in an Excel sheet</label>
                <input type="file" class="form-control" enctype="multipart/form-data" name="decisionsForChrist"
                    id="decisionsForChrist" accept=".doc,.docx,.xls,application/msword,application/msexcel">
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary btn-lg" name="submit" id="submit">
            </div>
        </form>
    </section>

    <%- include('layouts/scripts'); -%>
</body>

</html>