<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!<![endif]-->
<html>

<%- include('layouts/header'); -%>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <%- include('layouts/navbar'); -%>

    <section id="main">
        <form action="/state-coord-reports" , method="POST" enctype="multipart/form-data">
            <legend>State Coordinators' Reports</legend>
            <div class="form-group">
                <label for="designation">Designation</label>
                <select class="form-control form-control-sm" name="designation" id="designation">
                    <option>Select</option>
                    <option value="mr">Mr</option>
                    <option value="mrs">Mrs</option>
                    <option value="miss">Miss</option>
                    <option value="dr">Doctor</option>
                    <option value="pastor">Pastor</option>
                    <option value="professor">Professor</option>

                </select>
            </div>
            <div class="form-group">
                <label for="stateCoordName">Reporting State Coordinator's name</label>
                <input class="form-control" name="stateCoordName" id="stateCoordName" required>
            </div>
            <div class="form-group">
                <label for="stateCoordPhoneNumber">Phone Number of Reporting State Coordinator</label>
                <input class="form-control" type="text" name="stateCoordPhoneNumber" id="stateCoordPhoneNumber"
                    placeholder="+2348100000001 or 08100000001" required>
            </div>
            <div class="form-group">
                <label for="stateCoordEmail">State Coordintor's Email </label>
                <input class="form-control" type="text" name="stateCoordEmail" id="stateCoordEmail"
                    placeholder="name@example.com" required>
            </div>
            <div class="form-group">
                <label for="stateCoordLocation">Location (State)</label>
                <input class="form-control" type="text" name="stateCoordLocation" id="stateCoordLocation" required>
            </div>
            <div class="form-group">
                <label for="stateClusterPoints">Cluster Points in the State</label>
                <input type="file" class="form-control" enctype="multipart/form-data" name="stateClusterPoints"
                    id="stateClusterPoints" accept=".doc,.docx,.xls,application/msword,application/msexcel">
            </div>
            <div class="form-group">
                <label for="stateInstitutions">Institutions of Learning in the State</label>
                <input type="file" class="form-control" enctype="multipart/form-data" name="stateInstitutions"
                    id="stateInstitutions" accept=".doc,.docx,.xls,application/msword,application/msexcel">
            </div>
            <div class="form-group">
                <label for="stateParticipantsEmails">Email addresses of all participants in the state present in an
                    Excel sheet</label>
                <input type="file" class="form-control" enctype="multipart/form-data" name="stateParticipantsEmails"
                    id="stateParticipantsEmails" accept=".doc,.docx,.xls,application/msword,application/msexcel">
            </div>
            <div class="form-group">
                <label for="stateParticipantsNamesAndPhones">Name and phone numbers of all participants in the state
                    present in an Excel sheet</label>
                <input type="file" class="form-control" enctype="multipart/form-data"
                    name="stateParticipantsNamesAndPhones" id="stateParticipantsNamesAndPhones"
                    accept=".doc,.docx,.xls,application/msword,application/msexcel">
            </div>
            <div class="form-group">
                <label for="totalStateParticipants">Total number of participants present in the State</label>
                <input class="form-control" type="text" name="totalStateParticipants" id="totalStateParticipants"
                    required>
                Number of corpers: <input class="form-control form-control-sm" type="text"
                    name="totalStateCorperParticipants" id="totalStateCorperParticipants" required>
                Number of undergraduates: <input class="form-control form-control-sm" type="text"
                    name="totalStateUndergraduateParticipants" id="totalStateUndergraduateParticipants" required>
                Number of postgraduates: <input class="form-control form-control-sm" type="text"
                    name="totalStatePostgraduateParticipants" id="totalStatePostgraduateParticipants" required>
                Number of staff: <input class="form-control form-control-sm" type="text"
                    name="totalStateStaffParticipants" id="totalStateStaffParticipants" required>

            </div>
            <div class="form-group">
                <label for="stateMorningSessionStat">Morning Session statistics in an Excel sheet (Male and
                    Female)</label>
                <input type="file" class="form-control" enctype="multipart/form-data" name="stateMorningSessionStat"
                    id="stateMorningSessionStat" accept=".doc,.docx,.xls,application/msword,application/msexcel">
            </div>
            <div class="form-group">
                <label for="stateAfternoonSessionStat">Afternoon Session statistics in an Excel sheet (Male and
                    Female)</label>
                <input type="file" class="form-control" enctype="multipart/form-data" name="stateAfternoonSessionStat"
                    id="stateAfternoonSessionStat" accept=".doc,.docx,.xls,application/msword,application/msexcel">
            </div>
            <!--<div class="form-group">
                I was going to use this for List of State Location Point we could make a select for...
                <label for="clusterlocation">Cluster Location Point</label>
                <select name="clusterlocation" id="clusterlocation" class="form-control" onchange="showfield(this.options[this.selectedIndex].value)" required> 
                    <option value="">Please Select Cluster Location Point</option>  
                    <option value="island">Lagos Island</option>
                    <option value="ikorodu">Ikorodu</option>
                    <option value="ikeja">Ikeja</option>
                    <option value="iyana-ipaja">Iyana-Ipaja</option>
                    <option value="other">Other Locations, Please Specify</option>
                </select>
            </div>
            <div id="div1"></div><br>-->
            <!-- <div class="form-group">
                <label for="participanttestimonies">Testimonies from participants in an Excel sheet</label>
                <input type="file" class="form-control" enctype="multipart/form-data" id="participanttestimonies"
                accept=".doc,.docx,.xls,application/msword,application/msexcel">
            </div>
            <div class="form-group">
                <label for="totalparticipants">Total number of participants present</label>
                <input class="form-control" type="text" name="totalparticipants" id="totalparticipants" required>
                Number of corpers: <input class="form-control form-control-sm" type="text" name="totalparticipants" id="totalparticipants" required>
                Number of undergraduates: <input class="form-control form-control-sm" type="text" name="totalparticipants" id="totalparticipants" required>
                Number of postgraduates: <input class="form-control form-control-sm" type="text" name="totalparticipants" id="totalparticipants" required>
                Number of staff: <input class="form-control form-control-sm" type="text" name="totalparticipants" id="totalparticipants" required>

            </div>
            <div class="form-group">
                <label for="challenges">Challenges Experienced</label>
                <textarea cols="5" rows="5" name="challenges" id="challenges" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label for="suggestions">Suggested solutions for subsequent programmes</label>
                <textarea cols="5" rows="5" name="suggestions" id="suggestions" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="decisions">Decisions for Christ in an Excel sheet</label>
                <input type="file" class="form-control" enctype="multipart/form-data" id="decisions"
                accept=".doc,.docx,.xls,application/msword,application/msexcel">
            </div> -->

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg" id="submit">Submit</button>
            </div>
        </form>
    </section>

    <%- include('layouts/scripts'); -%>
</body>

</html>